<template>
  <base-field
    :component="component"
    :resource="resource"
    :errors="errors">
    <div 
      class="dropdown w-100 autocomplete"
      v-click-outside="noInputFocus" >
      <input 
        :id="attributes.id"
        :type="attributes.type" 
        :name="attributes.name"
        :placeholder="attributes.label" 
        v-model="value"
        class="form-control"
        :class="attributes.input_class"
        @focus="inputFocus = true"
        v-on:keydown.enter.prevent="selectOption(activeIndex)" 
        v-on:keydown.down.prevent="incrementOption(+1)"
        v-on:keydown.up.prevent="incrementOption(-1)"
        @input="selected = false; activeIndex = 0"
        autocomplete="off">
      <div 
        :id="attributes.id+'dropdownMenu'"
        class="dropdown-menu w-100 py-0"
        :class="{show:show}" 
        aria-labelledby="dropdownMenuButton">
        <suggestion 
          v-for="(option, index) in filteredOptions"
          :key="index"
          :suggestion="option"
          :active="activeIndex == index"
          v-on:select-option="selectOption(index)"
          :input-value="noMaskValue"
          :attributes="attributes"
          :value-field="valueField"
          :label-field="labelField"></suggestion>
      </div>
    </div>
  </base-field>
</template>
<script>
  import Inputmask from 'inputmask'
  import autocomplete from 'autocompleter';
  import ClickOutside from 'vue-click-outside'
  import Suggestion from './Suggestion'
  import FieldMixin from './../../../mixin/field.js';
  import EventBus from './../../../event-bus';

	export default { 
    mixins: [FieldMixin],
    directives: {
      ClickOutside
    },
    components: {Suggestion},
    data() {
      return {
        inputFocus: false,
        selected: false,
        activeIndex: 0,
      }
    },
    watch: {
      inputFocus() {
        this.activeIndex = 0
      },
      activeIndex() {
        var $dropdownMenu = $('#'+this.attributes.id+'dropdownMenu')
        $dropdownMenu
          .scrollTo($dropdownMenu.find('.dropdown-item.active'));
      }
    },
    computed: {
      valueField() {
        return this.attributes.value_field
      },
      labelField() {
        return this.attributes.label_field
      },
      flag() {
        return 'i'
      },
      noMaskValue() {        
        var value = this.value
        var regex = new RegExp('_', 'g')
        value = value.replace(regex, '')

        return value
      },
      show() {
        return this.filteredOptions.length > 0 
          && !this.selected
          && this.inputFocus
      },
      filteredOptions() {
        var self = this
        var options = []
        var value = this.noMaskValue
        var regex = new RegExp('^'+value, this.flag)
        options = _.filter(this.options, function(option) {
          return !!option[self.valueField].match(regex)
        })

        return options
      },
      options() {
        return this.attributes.options
      }
    },
    methods: {
      selectOption(index) {
        var option = this.filteredOptions[index]
        this.value = option[this.valueField]
        this.selected = true
        EventBus.$emit(this.attributes.emit_name, option)
      },
      incrementOption(number) {
        var activeIndex = this.activeIndex
        activeIndex += number
        if(activeIndex >= 0 && activeIndex < this.filteredOptions.length) {
          this.activeIndex = activeIndex
        }
      },
      noInputFocus() {
        if (this.inputFocus) {
          this.inputFocus = false
        }
      },
    },
    mounted() {
      if (this.attributes.mask) {
        var im = new Inputmask(this.attributes.mask);
        im.mask('#'+this.attributes.id);        
      }
    },
    beforeDestroy() {
    }
	}
</script>