<template>
  <a 
    class="dropdown-item" 
    :class="{active: active}"
    @click.prevent="$emit('select-option')"
    href="#">
  	<div>
  		<p class="mb-0">{{suggestion[labelField]}}</p>
  		<small v-html="suggestionValue"></small>
  	</div>  	
  </a>
</template>
<script>

	export default {
		props: [
			'suggestion', 
			'inputValue', 
			'active', 
			'attributes',
			'labelField',
			'valueField'
		],
		computed: {
			suggestionValue() {
				var suggestionValue = this.suggestion[this.valueField]
				var regex = new RegExp('^'+this.inputValue, "i");
				var matches = suggestionValue.match(regex)
				matches = _.uniq(matches, true)
				if (Array.isArray(matches)) {
					_.forEach(matches, function(match) {
						var regex = new RegExp('^'+match, 'g');
						suggestionValue = suggestionValue.replace(
							regex, '<span class="highlight">'+match+'</span>'
						);
					})
				}

				return suggestionValue
			}
		},
	}
</script>