<template>
  <container>
    <div class="card shadow text-dark bg-white mb-5 mt-5">
      <div class="card-header bg-dark">
        <h1 class="mb-0 text-light">{{ lang.get('messages.workers') }}</h1>  
      </div>
      <div class="card-body ">
        <router-link 
          :to="{ name: 'workers-create'}"
          class="btn btn-primary btn-lg  mb-3">
          <font-awesome-icon 
            icon="plus"/>
          {{ lang.get('messages.create') }}</router-link> 
        <my-table 
          :items="workers" 
          route-name="workers"
          :table="table"></my-table>
      </div>
    </div>
  </container>
</template>
<script>
  import LocaleMixin from './../../../mixin/locale.js';
  import { INDEX, DESTROY } from './../../../store/types/worker.js';
  import BeforeEnter from './../../../before-enter'

  export default {
    mixins: [LocaleMixin],  
    computed: {
      workers() {        
        return this.$store.getters[INDEX]
      },
      table() {
        return {
          actions: {
            edit(item) {
              return {
                name: 'workers-edit', 
                params: { 
                  worker_id: item.id ,
                }
              }
            },
            destroy: DESTROY,
          },
          cols: [
            {
              label: this.lang.get('messages.name'),
              attribute: 'name',
              class: [],
            },
            {
              label: this.lang.get('messages.email'),
              attribute: 'email',
              class: [],
            },
          ]
        }
      }
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
    mounted() {
    }
  }
</script>