<template>
  <li 
    class="dd-item" 
    :data-id="item.id"
    :data-parent_id="item.parent_id"
    :data-index="index">
      <router-link
        :to="{name:'categories-form', params: {
          lombard_id: $route.params.lombard_id,
          category_id: item.id,
        }}"
        class="btn btn-sm btn-secondary float-right">
        <font-awesome-icon 
          icon="edit"/> 
      </router-link>
      <div class="dd-handle">{{ item.name }}
      </div>
      <ol 
      	v-if="size(item.children) > 0"
      	class="dd-list">
		    	<nestable-item
		    		v-for="(category, key, childIndex) in item.children"
		    		:key="childIndex"
		    		:item="category"
            :index="childIndex"></nestable-item>
      </ol>
  </li>
</template>
<script>
	export default {
    name: 'nestable-item',
		props: ['item', 'index'],
    methods: {
      size(children) {
        return _.size(children)
      },
    },
    computed: {

    },
    mounted() {
      
    }
	}
</script>