<template>	
    <nav 
      class="navbar navbar-expand-lg navbar-dark bg-purple">
      <router-link 
        :to="{name: 'home'}"
        class="navbar-brand">{{ appName }}</router-link>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div 
        v-if="user"
        class="collapse navbar-collapse" 
        id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link 
              class="nav-link" 
              :to="{ name: 'lombards' }">{{ lang.get('messages.lombards') }}</router-link>
          </li>
          <li class="nav-item">
            <router-link 
              class="nav-link" 
              :to="{ name: 'workers' }">{{ lang.get('messages.workers') }}</router-link>
          </li>
        </ul>
        <div 
          class="navbar-nav ml-auto">
          <div 
            class="nav-item dropdown">
            <a 
              class="nav-link dropdown-toggle" 
              href="#" 
              id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false">{{ user.email }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">          
              <router-link 
                class="dropdown-item text-center" 
                :to="{ name: 'profile-personal-data' }">{{ lang.get('messages.profile') }}</router-link>   
              <div class="dropdown-divider"></div>
              <a 
                @click.prevent="logout()"
                href="#"
                class="dropdown-item text-center">{{ lang.get('messages.logout') }}  
                <font-awesome-icon 
                  icon="sign-out-alt"/></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
</template>
<script>  
  import LocaleMixin from './../../../mixin/locale.js';
  import {
    LOGOUT,
  } from './../../../store/types.js'
  import EventBus from './../../../event-bus';

  export default {
    mixins: [LocaleMixin],
    computed: {
      appName() {
        return this.$store.getters['appName'] 
      },
      user() {
        return this.$store.getters['auth/currentUser'] 
      },
    },
    methods: {
      async logout() {
        try {
          await this.$store.dispatch('auth/' + LOGOUT)
          this.$router.push({ name: 'home' })
          toastr.success(this.lang.get('actions.logget_out')) 
        } catch (error) {
          EventBus.$emit('error', error)
        }
        
      },
    },
  }
</script>