<template>
	<div 
    class="card shadow text-dark bg-white mt-0 mb-3">
	  <div class="card-header bg-dark">
      <h3 class="mb-0 text-light">{{ title }}</h3>  
    </div>
		<div class="card-body ">
      <slot></slot>
    </div>
  </div>
</template>
<script>
	export default {
		props: [
      'title', 
    ],
	}
</script>