<template>
  <lombard-card-page
    :title="title">
    <button
      @click="$router.go(-1)"
      class="btn btn-primary btn-lg mb-3">
      <font-awesome-icon 
        icon="step-backward"/>
      {{ lang.get('messages.back') }}</button> 
    <my-form 
      :action="formAction"
      :resource="resource"
      :submit-text-key="submitTextKey"
      v-on:form-success="formSuccess"
      :fields-namespace="fieldsNamespace"
      :fields-view="fieldsView"> 
      <template v-slot>
        <slot></slot>
      </template>
      <template v-slot:submit-icon>
        <font-awesome-icon 
          icon="save"/>
      </template>
    </my-form>
  </lombard-card-page>
</template>
<script>
  import MyForm from './../../MyForm';
  import BaseField from './../../fields/BaseField'
  import LocaleMixin from './../../../mixin/locale.js';

	export default {
		props: [
      'title', 
      'formAction', 
      'resource', 
      'afterSuccessRoute', 
      'submitTextKey',
      'fieldsNamespace',
      'fieldsView',
    ],
    mixins: [LocaleMixin],	
    components: {MyForm},    
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
        if (this.afterSuccessRoute) {
          this.$router.push(this.afterSuccessRoute)
        }
        this.$emit('form-success')
      },
    },
	}
</script>