<template>
	<div class="col-md-6 offset-md-3">
		<div class="card shadow text-dark bg-white mt-5 mb-5">
		  <div class="card-header bg-dark">
		  	<h1 class="mb-0 text-light">{{lang.get('messages.profile')}}</h1>
		  </div>
		  <div class="card-header">
		    <ul class="nav nav-tabs card-header-tabs">
		      <li class="nav-item">
		        <router-link 
		          :to="{ name: 'profile-personal-data' }" 
		          class="nav-link"
		          role="button">{{ lang.get('messages.personal_data') }}</router-link>
		      </li>
		      <li class="nav-item">
		        <router-link 
		          :to="{ name: 'profile-password' }" 
		          class="nav-link"
		          role="button">{{ lang.get('messages.password') }}</router-link>
		      </li>
		    </ul>
		  </div>
	  	<div class="card-body">
				<router-view></router-view>
			</div>
		</div>
	</div>
</template>
<script>  
  import LocaleMixin from './../../../mixin/locale.js';

  export default {
    name: 'profile-dashboard',
    mixins: [LocaleMixin],
  }
</script>