<template>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb mt-3 shadow">
	    <li 
	    	v-for="(breadcrumb, index) in breadcrumbs"
	    	class="breadcrumb-item"
	    	:class="{active: index + 1 == breadcrumbs.length}">
				<router-link 
					v-if="index + 1 < breadcrumbs.length"
					:to="{name: breadcrumb.name, params: breadcrumb.params}" 
					class="">
	          {{getLabel(breadcrumb)}}
	      </router-link>
	    	<span
	    		v-else
	    		class="">
	          {{getLabel(breadcrumb)}}
	      </span>
	    </li>
	  </ol>
	</nav>
</template>
<script>
	const LOMBARD = require('./../store/types/lombard')
	const AGREEMENT_PATTERN = require('./../store/types/lombard/agreement_pattern')
	const CATEGORY = require('./../store/types/lombard/category')
	const AGREEMENT = require('./../store/types/lombard/agreement')
	const PRODUCT = require('./../store/types/lombard/product')
  
  import LocaleMixin from './../mixin/locale.js';

	export default {
    mixins: [LocaleMixin],	
		computed: {
			allBreadcrumbs() {
				return [
					{
						name: 'lombards',
						parent: null,
						label: this.lang.get('messages.lombards'),
					},
					{
						name: 'lombards-pagination',
						parent: null,
						label: this.lang.get('messages.lombards'),
					},
					{
						name: 'lombards-show',
						parent: 'lombards',
						label: () => {
	  					var lombard = this.$store.getters[LOMBARD.SHOW]

	  					return lombard.name
						},
					},
					{
						name: 'lombards-edit',
						parent: 'lombards',
						label: () => {
  						var lombard = this.$store.getters[LOMBARD.SHOW]
  						return this.lang.get('messages.edit') + ' - ' + lombard.name
						},
					},
					{
						name: 'lombards-create',
						parent: 'lombards',
						label: this.lang.get('messages.create'),
					},
					{
						name: 'products',
						parent: 'lombards-show',
						label: this.lang.get('messages.products'),
					},
					{
						name: 'products-paginaation',
						parent: 'lombards-show',
						label: this.lang.get('messages.products'),
					},
					{
						name: 'products-form',
						parent: 'products',
						label: () => {
							var name = this.lang.get('messages.create')

							if (this.$route.params.product_id) {
	  						var product = this.$store.getters[PRODUCT.SHOW]
	  						name = this.lang.get('messages.edit') + ' - ' + product.name
							}

	  					return name
						},
					},
					{
						name: 'categories',
						parent: 'lombards-show',
						label: this.lang.get('messages.categories'),
					},
					{
						name: 'categories-table',
						parent: 'lombards-show',
						label: this.lang.get('messages.categories'),
					},
					{
						name: 'categories-form',
						parent: 'categories',
						label: () => {
							var name = this.lang.get('messages.create')

							if (this.$route.params.category_id) {
	  						var category = this.$store.getters[CATEGORY.SHOW]
	  						name = this.lang.get('messages.edit') + ' - ' + category.name
							}

	  					return name
						},
					},
					{
						name: 'agreements',
						parent: 'lombards-show',
						label: this.lang.get('messages.agreements'),
					},
					{
						name: 'agreements-pagination',
						parent: 'lombards-show',
						label: this.lang.get('messages.agreements'),
					},
					{
						name: 'agreements-form',
						parent: 'agreements',
						label: () => {
							var name = this.lang.get('messages.create')

							if (this.$route.params.agreement_id) {
	  						var agreement = this.$store.getters[AGREEMENT.SHOW]
	  						name = this.lang.get('messages.edit') + ' - ' + agreement.full_name
							}

	  					return name
						},
					},
					{
						name: 'agreements-patterns',
						parent: 'lombards-show',
						label: this.lang.get('messages.agreements_patterns'),
					},
					{
						name: 'agreements-patterns-pagination',
						parent: 'lombards-show',
						label: this.lang.get('messages.agreements_patterns'),
					},
					{
						name: 'agreements-patterns-form',
						parent: 'agreements-patterns',
						label: () => {
							var name = this.lang.get('messages.create')

							if (this.$route.params.agreement_id) {
	  						var agreement = this.$store.getters[AGREEMENT.SHOW]
	  						name = this.lang.get('messages.edit') + ' - ' + agreement.name
							}

	  					return name
						},
					},
				]
			},
			breadcrumbs() {
				var allBreadcrumbs = this.allBreadcrumbs
				var breadcrumbs = []
				var currentBreadcrumb = _.find(allBreadcrumbs, {name: this.$route.name})

				if (currentBreadcrumb) {
					breadcrumbs.unshift(currentBreadcrumb)
					while (!!currentBreadcrumb.parent) {
					  currentBreadcrumb = _.find(allBreadcrumbs, {name: currentBreadcrumb.parent})
						breadcrumbs.unshift(currentBreadcrumb)
					}					
				}

				return breadcrumbs
			}
		},
		methods: {
			getLabel(breadcrumb) {
				return (typeof breadcrumb.label === "function" ? breadcrumb.label() : breadcrumb.label)
			}
		}
	}
</script>