<template>
  <div class="container">
    <div class="row">
      <div :class="(cardWidth || ['col-md-12'])">
      	<slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
	export default {
		props: ['cardWidth'],
	}
</script>