<template>
	<button 
		@click="confirrmDestroy()" 
		class="btn btn-danger"
		:class="customClass"
    v-tooltip="lang.get('messages.delete')">
    <font-awesome-icon 
      v-if="pending"
      icon="spinner" spin />
    <font-awesome-icon 
    	v-else
      icon="trash-alt"/>
      <slot></slot>
    </button>
</template>
<script>
  import LocaleMixin from './../mixin/locale.js';
  import Swal from 'sweetalert2'
  
	export default {   
    mixins: [LocaleMixin],	
		props: ['id', 'action', 'customClass'],		
    data() {
    	return {
    		pending: false,
    	}
    },	
    methods: {
	    async destroy() {
	      try {
	      	this.pending = true
	        var msg = await this.$store
	          .dispatch(this.action, {
	          	id: this.id,
				      search_phrase: this.$route.query.search_phrase,
				      sort_col: this.$route.query.sort_col,
				      sort_type: this.$route.query.sort_type,
				      page: this.$route.query.page,	          	
	          })

	        toastr.success(msg) 

	      } catch (error) {
	        console.log(error)
	      }

	      this.pending = false
	    },
	    confirrmDestroy() {
	      var self = this
	      Swal.fire({
	        title: self.lang.get('messages.delete_confirmation_title'),
	        text: self.lang.get('messages.delete_confirmation_text'),
	        type: 'warning',
	        showCancelButton: true,
	        confirmButtonColor: '#3085d6',
	        cancelButtonColor: '#d33',
	        confirmButtonText: self.lang.get('messages.delete_confirmation_yes'),
	        cancelButtonText: self.lang.get('messages.cancel'),
	      }).then((result) => {
	        if (result.value) {
	          self.destroy()
	        }
	      })
	    }    	
    }
	}
</script>