<template>
  <!-- Modal -->
  <div 
    class="modal fade" 
    id="exampleModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div 
      class="modal-dialog" 
      role="document"
      :class="customClass">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <slot name="body"></slot>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-secondary" 
            data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>	
</template>
<script>
	export default {
		props: ['title', 'customClass'],
		mounted() {
      var self = this
      $('#exampleModal').modal('show')
      $('#exampleModal').on('hidden.bs.modal', function (e) {
        self.$emit('close')
      })
		}
	}
</script>