<template>
	<form 
    v-on:submit.prevent="send(formData)">
    <template
      v-for="(component, index) in  components"> 
      <component
        :is="component.name"
        :key="index"
        :resource="resource"
        :form-data="formData"
        :component="component"
        v-on:fill-form-data="fillFormData($event, resource)"
        v-on:unset-form-data="unsetFormData($event, resource)"
        :errors="errors"></component>  
    </template>   
    <slot></slot>      
    <div 
      v-if="isRecaptcha"
      class="form-group">
      <recaptcha-field
        :errors="errors"></recaptcha-field>   
    </div>
    <submit-btn
      :pending="pending"
      :text-key="submitTextKey || lang.get('messages.save')"
      :my-class="submitClass">
      <slot name="submit-icon"></slot>
    </submit-btn>
	</form>
</template>
<script>
  import MyFormMixin from './../mixin/my_form.js';
  import LocaleMixin from './../mixin/locale.js';
  import SubmitBtn from './fields/SubmitBtn'
  import RecaptchaField from './fields/RecaptchaField'
  import { FIELDS, SET_FIELDS } from './../store/types/types'

	export default {
    mixins: [MyFormMixin, LocaleMixin],  
    components: {SubmitBtn, RecaptchaField},
		props: [
      'resource', 
      'action', 
      'submitTextKey', 
      'isRecaptcha', 
      'fieldsNamespace',
      'fieldsView',
      'submitClass',
      'formDataAppends',
    ],
    data() {
      var formData = new FormData()
      var formDataAppends = this.formDataAppends

      if (formDataAppends && Array.isArray(formDataAppends)) {
        _.forEach(formDataAppends, function(append) {
          formData.append(append.attribute, append.value)
        })
      }

      return {
        formData: formData,
      }
    },
    methods: {
      fillFormData(event, resource) {
        var parts = event.name.split('.')
        var attribute = ''
        _.forEach(parts, function(part, index) {
          attribute += (index == 0 ? part : '['+part+']')
        })
        this.formData.append(attribute, event.value)
      },
      unsetFormData(event, resource) {
        var parts = event.resource.split('.')
        var attribute = ''
        _.forEach(parts, function(part, index) {
          attribute += (index == 0 ? part : '['+part+']')
        })
        this.formData.delete(attribute)
      }
    },
    computed: {
      components() {
        return this.$store.getters[this.fieldsNamespace+'/'+FIELDS] 
      },
    },
    beforeMount() {
      this.$store.commit(this.fieldsNamespace+'/'+SET_FIELDS, [])
    },
    mounted() {   
      this.$store.dispatch(this.fieldsNamespace+'/'+FIELDS, this.fieldsView)
    }
	}
</script>