<template>
  <nav 
    aria-label="Page navigation">
    <ul 
      v-if="items.last_page < 15"
      class="pagination justify-content-center flex-wrap ">
      <li 
        v-if="currentPage != 1"
        class="page-item">
      	<router-link 
      		class="page-link"
      		:to="to(prevPage)">{{ lang.get('messages.previous') }}</router-link>
      </li>
      <li 
        v-for="n in items.last_page"
        class="page-item"
        :class="{ active: (currentPage == n) }">
        	<router-link 
        		class="page-link" 
        		:to="to(n)">{{ n }}</router-link>
		  </li>
      <li
        v-if="currentPage < items.last_page"
        class="page-item">
      	<router-link 
      		class="page-link"
      		:to="to(nextPage)">{{ lang.get('messages.next') }}</router-link >
      </li>
    </ul>
    <div 
      class="d-flex justify-content-center"
      v-else>
      <div 
        class="input-group mb-3"
        style="width:400px">
        <div class="input-group-prepend">        
          <router-link 
            v-if="currentPage > 1"
            class="page-link"
            :to="to(prevPage)">{{ lang.get('messages.previous') }}</router-link>
        </div>
        <input 
          v-model="goPage"
          type="text" 
          class="form-control text-center" 
          placeholder=""
          aria-label="" 
          aria-describedby="basic-addon1"
          v-on:keyup.enter="$router.push(to(goPage))"
          style="">
        <div class="input-group-append">    
          <router-link 
            class="page-link"
            :to="to(goPage)">{{ lang.get('messages.go') }}</router-link >              
          <router-link 
            v-if="currentPage < items.last_page"
            class="page-link"
            :to="to(nextPage)">{{ lang.get('messages.next') }}</router-link >
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            {{lang.get('messages.last_page')}}: {{items.last_page}}
          </span>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
  import LocaleMixin from './../mixin/locale.js';

  export default {
    mixins: [LocaleMixin],
    props: ['items', 'routeName'],
    data() {
      return {
        goPage: '',
      }
    },
    watch: {
      currentPage(value) {
        if (this.goPage != value) {
          this.goPage = value
        }
      }
    },
    computed: {
      tableQuery() {
        return {
          sort_col: this.$route.query.sort_col,
          sort_type: this.$route.query.sort_type,
          search_phrase:  this.$route.query.search_phrase,
        }
      },
      prevPage() {
        return this.currentPage - 1
      },
      nextPage() {
        return this.currentPage + 1
      },
      currentPage() {
        return (this.$route.query.page != undefined ? parseInt(this.$route.query.page) : 1)
      }
    },
    methods: {
      query(page) {
        return {page: page, ...this.tableQuery}
      },
      to(page) {
        return {
          name: this.routeName,
          query: this.query(page)
        }
      },
    },
    mounted() {
      this.goPage = this.currentPage
    }
	}
</script>