<template>	
  <div 
    class="row"> 
    <component
      v-for="(childComponent, index) in  component.components"
      :is="childComponent.component"
      :key="index"
      :form="form"
      :field="childComponent"
      :errors="errors"></component>    
  </div>
</template>
<script>
	export default {
		props: ['component']
	}
</script>