<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow text-dark bg-white mt-5 mb-5">
          <div class="card-header bg-dark">
            <h1 class="text-light mb-0">{{ lang.get('messages.ck_files') }}</h1>  
          </div>
          <div class="card-body">            
            <my-form 
              :key="reloadKey"
              :action="formAction"
              :resource="{}"
              v-on:form-success="formSuccess"
              fields-namespace="ckFiles"
              submit-class="btn btn-primary btn-lg">  
              <template v-slot:submit-icon>
                <font-awesome-icon 
                  icon="save"/>
              </template>
            </my-form>
        		<div 
              v-if="files.length > 0"
              class="row pb-3">
        			<div 
        				class="col-md-3"
        				v-for="(file, index) in files">
        				<div class="card mt-3"">
        				  <img 
        				  	:src="file.url" 
        				  	class="card-img-top" >
        				  <div class="card-body">
        				    <button
        				    	@click="returnFileUrl(file.relative_url)"
        				    	class="btn btn-primary">
                      <font-awesome-icon 
                        icon="hand-pointer"/>
        				    	{{lang.get('messages.select')}}
        				    </button>
                    <destroy-button
                      :id="file.id"
                      :action="destroyAction"
                      ></destroy-button>    
        				  </div>
        				</div>
        			</div>
        		</div>	
          </div>
        </div>
      </div>
  	</div>
  </div>
</template>
<script>
  import LocaleMixin from './../../../../mixin/locale.js';
  import BeforeEnter from './../../../../before-enter'
  import { INDEX, STORE, DESTROY } from './../../../../store/types/ck_files.js';
  const CK_FILES = require('./../../../../store/types/ck_files')

	export default {
		mixins: [LocaleMixin],
    data() {
      return {
        reloadKey: 0,
      }
    },
		computed: {
			files() {				
        return this.$store.getters[INDEX] 
			},
      formAction() {
        return STORE
      },
      destroyAction() {
        return DESTROY
      },
		},
		methods: {
      formSuccess(msg) {
        toastr.success(msg) 
        this.$store.dispatch(CK_FILES.INDEX)
        this.reloadKey++
      },
      // Helper function to get parameters from the query string.
      getUrlParam( paramName ) {
          var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' );
          var match = window.location.search.match( reParam );

          return ( match && match.length > 1 ) ? match[1] : null;
      },
      // Simulate user action of selecting a file to be returned to CKEditor.
      returnFileUrl(fileUrl) {
          var funcNum = this.getUrlParam( 'CKEditorFuncNum' );
          window.opener.CKEDITOR.tools.callFunction( funcNum, fileUrl );
          window.close();
      },
		},
    async beforeRouteEnter(to, from, next) {
			if (window.opener) {
				next()
			}
		},
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
    mounted() {

    }
	}
</script>