<template>
  <container :card-width="['col-md-12', 'col-lg-6', 'offset-lg-3']">
    <form-page
      :title="lang.get('messages.lombards')"
      :resource="lombard"
      :form-action="formAction"
      submit-text-key="messages.create"
      :after-submit-route="{name: 'lombards'}"
      fields-namespace="lombards"
      fields-view="create">    
    </form-page>
  </container>
</template>
<script>
  import LocaleMixin from './../../../mixin/locale.js';
  import store from './../../../store/index'
  import { STORE, SHOW, CREATE } from './../../../store/types/lombard.js';
  import FormPage from './../../../components/pages/Form'
  import BeforeEnter from './../../../before-enter'

	export default {
    mixins: [LocaleMixin],	
    components: {FormPage},	
    computed: {
	   	lombard() {        
	      return this.$store.getters[SHOW]
	    },
      formAction() {
        return STORE
      },
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
	}
</script>