<template>
  <container>
    <form-page
      :title="lang.get('messages.lombards')+' - '+lombard.name"
      :resource="lombard"
      :form-action="formAction"
      submit-text-key="messages.update"
      :after-submit-route="{name: 'lombards'}"
      fields-namespace="lombards"
      fields-view="edit">      
    </form-page>
  </container>
</template>
<script>
  import LocaleMixin from './../../../mixin/locale.js';
  import store from './../../../store/index'
  import { SHOW, EDIT, UPDATE, FIELDS } from './../../../store/types/lombard.js';
  import FormPage from './../../../components/pages/Form'
  import BeforeEnter from './../../../before-enter'

	export default {
    mixins: [LocaleMixin],		
    components: {FormPage},
    computed: {
	   	lombard() {        
	      return this.$store.getters[SHOW]
	    },
      formAction() {
        return UPDATE
      },
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
	}
</script>