<template>
  <container :card-width="cardWidth">
		<div class="card shadow text-dark bg-white mb-5 mt-5">
		  <div class="card-header bg-dark">
		    <h1 class="mb-0 text-light">{{ lang.get('messages.lombards') }}</h1>  
      </div>
			<div class="card-body ">
        <router-link 
          :to="{ name: 'lombards-create' }"
          class="btn btn-primary btn-lg">
          <font-awesome-icon 
            icon="plus"/>
          {{ lang.get('messages.create') }}</router-link> 
        <pagination
          :items="lombards"
          route-name="lombards"
          class="mt-3"></pagination>
	      <div class="row mt-3">
	        <card-index 
	        	v-for="(lombard, index) in lombards.data"
	        	:key="lombard._id"
	        	:lombard="lombard"
	        	:lombard-width="lombardWidth"></card-index>
	      </div> 
        <pagination
          :items="lombards"
          route-name="lombards"
          class="mt-3"></pagination>
      </div>
    </div>
  </container>
</template>
<script>
  import LocaleMixin from './../../../mixin/locale.js';
  import { INDEX } from './../../../store/types/lombard.js';
  const AUTH = require('./../../../store/types/auth.js')
  import store from './../../../store/index'
  import CardIndex from './_components/CardIndex'
  import BeforeEnter from './../../../before-enter'

	export default {
    mixins: [LocaleMixin],	
    components: {CardIndex},	
    computed: {
    	user() {
    		return this.$store.getters[AUTH.CURRENT_USER]
    	},
	   	lombards() {       
	      return this.$store.getters[INDEX]
	    },
	    cardWidth() {
	    	var width = ['col-md-12', 'col-lg-6', 'offset-lg-3']

	    	if (this.lombards.data.length > 1) {
	    		width = 'col-md-12'
	    	}

	    	return width
	    },
	    lombardWidth() {
	    	var width = 'col-md-12'

	    	if (this.lombards.data.length > 1) {
	    		width = 'col-md-12 col-lg-6'
	    	}

	    	return width
	    },
	  },
    mounted() {
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
	}
</script>