<template>
	<div class="container-fluid">
		<div class="row vh-100">
			<sidebar/>
			<div class="col-md-9 col-lg-10 col-sm-12">
				<breadcrumb/>
        <router-view></router-view>
			</div>
		</div>
	</div>
</template>
<script>
  import LocaleMixin from './../../../mixin/locale.js';
  import { SHOW } from './../../../store/types/lombard.js';
  import Sidebar from './_components/Sidebar'

	export default {
    mixins: [LocaleMixin],	
    components: {Sidebar},
    computed: {
	   	lombard() {        
	      return this.$store.getters[SHOW]
	    },
	  },
  }
</script>