.autocomplete {	
  .dropdown-menu {
    max-height: 200px;
    overflow: auto;
    .dropdown-item {
        .highlight {
          background: rgba(125, 168, 208, 0.2);
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
        }
        &.active {
            color: #fff;
            .highlight {
              background: #ba68c8;
              color: #fff;
              -webkit-border-radius: 1px;
              -moz-border-radius: 1px;
              border-radius: 1px;
            }
        }        
    }    
  }
}