.selectize-control {
  height: calc(1.6em + 0.75rem + 2px);
}

.selectize-control.single .selectize-input > .selectize-sinlge-item-selected {
  background-color: #fff;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.selectize-control.multi .selectize-input > .item {
  padding-top: 0px;
  padding-bottom: 0px;
}

.selectize-control.single .selectize-input > .selectize-sinlge-item-selected h5 {
  line-height: 25px;
}

.selectize-control .selectize-input > div {
  cursor: pointer;
  margin: 0 0px 0px 0;
  font-size: 1rem;
  line-height: 1.6;
}

.selectize-control .selectize-input > div h5 {
  font-size: 16px;    
}

.selectize-dropdown {
  font-size: 1rem;  
  line-height: 1.6;
}

// .selectize-dropdown .selectize-dropdown-content .option:nth-child(even) {
//   background: #eeeeee;
// }

.selectize-control {
  width: 100%;
}

.selectize-input {
  padding: 0.375rem 0.75rem;
  min-height: calc(2.35rem + 2px);
}

.selectize-input > input {  
  padding: 0px!important;
  font-size: 1rem!important;
  font-weight: 400;
  line-height: 1.6!important;
}
