.sidebar {

	a.nav-link {
		border-bottom: 2px solid #424242;
		line-height: 25px;
		transition: .3s ease-out;
		color: #eeeeee ;

		.nav-icon {
			margin-left: .05rem;
		    font-size: 1.2rem;
		    margin-right: .2rem;
		    text-align: center;
		    width: 1.6rem;
		}
	}

	a.nav-link:hover {
		background-color: rgba(0,0,0,0.05);
	}

	a.nav-link.active {
		background: #4a148c   ;
	}

	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75)!important;
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75)!important;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75)!important;
	border-right: 2px solid #424242;
}