<template>	
  <div class="float-right">
    <div class="input-group mb-3" style="width: 300px">
      <input 
        v-model="searchPhrase"
        type="text" 
        class="form-control" 
        :placeholder="lang.get('messages.search_phrase')" 
        :aria-label="lang.get('messages.search_phrase')"
        v-on:keyup.enter="$router.push({
          name: routeName, 
          query: {
            page: 1,
            sort_col: $route.query.sort_col,
            sort_type: $route.query.sort_type,
            search_phrase: searchPhrase,
          }
        })">
      <div class="input-group-append">
        <router-link 
          class="btn btn-outline-secondary" 
          :to="{
            name: routeName, 
            query: {
              page: 1,
              sort_col: $route.query.sort_col,
              sort_type: $route.query.sort_type,
              search_phrase: searchPhrase,
            }
          }">
          <font-awesome-icon 
            icon="search"/>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
  import LocaleMixin from './../../mixin/locale.js';
	export default {
    mixins: [LocaleMixin],	
    props: ['routeName'],
    data() {
      return {
        searchPhrase: this.$route.query.search_phrase || '',
      }
    }
	}
</script>