<template>	
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <search :route-name="routeName"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pagination
              :items="items"
              :route-name="routeName"
              class="mt-3"></pagination>
            <div 
              v-if="items.data.length > 0"
              class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="text-center"
                      style="width:70px"
                    >
                      <router-link
                        :to="{
                          name: routeName, 
                          query: {
                            page: $route.query.page,
                            sort_col: 'id',
                            sort_type: ($route.query.sort_type == 'desc' ? 'asc' : 'desc'),
                            search_phrase: $route.query.search_phrase,
                          }
                        }">
                        <font-awesome-icon 
                          icon="sort"/>
                        <span class="d-inline">#</span>
                      </router-link>
                    </th>
                    <th 
                      v-for="(thead, index) in table.cols"
                      scope="col"
                      :class="thead.class">
                      <router-link
                        :to="{
                          name: routeName, 
                          query: {
                            page: $route.query.page,
                            sort_col: thead.sort_col || thead.attribute,
                            sort_type: ($route.query.sort_type == 'asc' ? 'desc' : 'asc'),
                            search_phrase: $route.query.search_phrase,
                          }
                        }">
                        <font-awesome-icon 
                          icon="sort"/>
                        <span class="d-inline">{{thead.label}}</span>
                      </router-link>
                    </th>
                    <th scope="col" class="button-col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr 
                    v-for="(item, index) in items.data">
                    <td 
                      class="align-middle text-center">{{ item.id }}</td>
                    <td 
                      v-for="(col, index) in table.cols"
                      class="align-middle"
                      :class="col.class">{{ item[col.attribute] }}</td>
                    <td 
                      class="text-right" 
                      style="width:120px"
                      :style="{width: actionsWidth}">    
                      <slot 
                        name="actions" 
                        :item="item"></slot>              
                      <router-link
                        :to="table.actions.edit(item)"
                        class="btn btn-secondary"
                        v-tooltip="lang.get('messages.edit')">
                        <font-awesome-icon 
                          icon="edit"/>
                       </router-link>       
                        <destroy-button
                          :id="item.id"
                          :action="table.actions.destroy"
                        ></destroy-button> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div 
              v-else
              class="alert alert-info text-center">{{lang.get('messages.no_results')}}</div>
            <pagination
              :items="items"
              :route-name="routeName"></pagination>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
  import LocaleMixin from './../../mixin/locale.js';
  import Search from './Search'
	export default {
    mixins: [LocaleMixin],	
    components: {Search},
    props: ['items', 'routeName', 'table', 'actionsWidth'],
	}
</script>