<template>	
  <div 
    :class="attributes.col">   
    <div 
      class="form-group">    
    	<label :for="attributes.id">{{ this.attributes.label }}</label> 
      <div class="input-group">
        <slot></slot>          
        <div 
          v-if="appends.length > 0"
          class="input-group-append">
          <template
            v-for="(append, index) in  appends"> 
            <component
              :is="append.name"
              :key="index"
              :component="append">
            </component>        
          </template> 
        </div>  
      </div>   
      <small 
      	v-if="attributes.help"
        class="form-text"
    		:class="attributes.help_class"
        v-html="attributes.help"></small> 
      <error-message
        :attribute="attributes.name"
        :errors="errors"></error-message>
    </div>
  </div>
</template>
<script>
  import ErrorMessage from './ErrorMessage'
  import LocaleMixin from './../../mixin/locale.js';
  import FormComponentMixin from './../../mixin/form_component.js';

	export default {
    mixins: [FormComponentMixin],
    components: {ErrorMessage},
		computed: {
      appends() {
        return _.filter(this.component.children, function(component) {
          return component.attributes.group_type == 'append'
        })
      },
		},
	}
</script>