<template>  
  <base-field
    :component="component"
    :errors="errors">
    <div :id="attributes.id" class="editor">{{ value }}</div>   
  </base-field>
</template>
<script>
  import FieldMixin from './../../mixin/field.js';

  export default {
    mixins: [FieldMixin],
    mounted: function() {
      var self = this
      
      var editor = ace.edit(this.attributes.id, {
        wrap: true,
      })
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/html");

      editor.on('change', function() {
        var content = editor.getValue();
        self.value = content
      })
      editor.setValue(this.value)
    },
  }
</script>