<template>
	<base-field
		:component="component"
    :errors="errors">
    <datepicker 
      :id="attributes.id"
      :type="attributes.type" 
      :name="attributes.name"
      :placeholder="attributes.label" 
      v-model="value"
      input-class="form-control"
      :format="customFormatter"
      :calendar-class="attributes.calendar_class"
      :language="datepickerLang[lang.getLocale()]"></datepicker>   
	</base-field>
</template>
<script>
  import FieldMixin from './../../mixin/field.js';
  import Datepicker from 'vuejs-datepicker';
  import moment from 'moment'
  import {en, pl} from 'vuejs-datepicker/dist/locale'
  
	export default {   
    mixins: [FieldMixin],
    components: {Datepicker},
    data() {
      return {        
        datepickerLang: {
          en: en,
          pl: pl,
        }       
      }
    },
    watch: {
      value(value) {
        value = moment(value).format(this.attributes.format || 'YYYY-MM-DD')
        this.fillFormData(value)
      },
    },
    methods: {  
      customFormatter(date) {
        return moment(date).format(this.attributes.format || 'YYYY-MM-DD');
      },
    },
    mounted() {

    }
	}
</script>