<template>	               
    <div 
    	v-if="error"
      class="alert alert-danger p-1 mt-1" 
      :class="myClass"
      role="alert">
      {{ error }}
    </div>
</template>
<script>
	export default {
		props: ['errors', 'attribute', 'myClass'],
		computed: {
			error() {
				return (this.errors && 
					this.errors.hasOwnProperty(this.attribute) && 
					typeof this.errors[this.attribute]  === 'string' ? 
					this.errors[this.attribute] : null)
			}
		},
		mounted() {
			
		}
	}
</script>