<template>
	<base-field
		:component="component"
    :errors="errors">    
    <div class="custom-file">
      <label class="custom-file-label" for="files">
      {{ fileLabel }}
      </label>
      <input 
        @change="fileChange"
        type="file" 
        class="custom-file-input" 
        :id="attributes.id"
        multiple>
    </div>   
	</base-field>
</template>
<script>
  import FormComponentMixin from './../../mixin/form_component.js';

	export default {
    mixins: [FormComponentMixin],
    data() {
      return {
        files: [],
      }
    },
    watch: {
      files(files) {        
        if (files.length > 0) {
          this.fillFormData(files)
        }
      }
    },
    computed: {
      fileLabel() {
        var files = _.map(this.files, 'name')

        return (files.length > 0 ? files.join() : this.attributes.placeholder)
      },
      name() {
        return this.attributes.name+'.'
      }
    },
    methods: {
      unsetFormData() {
        this.$emit('unset-form-data', {
          resource: this.name
        })
      },
      fillFormData(files) {
        this.unsetFormData()
        var self = this
        _.forEach(files, function(file) {
          self.$emit('fill-form-data', {
            name: self.name,
            value: file
          })
        })
      },
      fileChange(event) {
        this.files = event.target.files
      },
    },
    mounted() {
      this.unsetFormData()
    }
	}
</script>