<template>
    <div>
    	<div class="g-recaptcha" 
         :data-sitekey="sitekey">
    	</div>        
      <error-message
        attribute="recaptcha"
        :errors="errors"></error-message>
    </div>
</template>

<script>	
  import ErrorMessage from './ErrorMessage'
  export default {
    components: {ErrorMessage},
    name: 'recaptcha',
    props: ['errors'],
    data: function() {
    	var sitekey = $('#recaptcha-sitekey-input').val()

    	return {
    		sitekey: sitekey
    	}
    },
    beforeDestroy: function() {
    },
    mounted: function() {
    	$.getScript("//www.google.com/recaptcha/api.js?");
    },
	}
</script>