<template>
	<div class="row">
	  <template
	    v-for="(childComponent, index) in  component.children"> 
	    <component
	      :is="childComponent.name"
	      :key="index"
	      :resource="resource"
	      :component="childComponent"
	      :errors="errors"
	      v-on:fill-form-data="$emit('fill-form-data', $event)"
	     	v-on:unset-form-data="$emit('unset-form-data', $event)"></component>        
	  </template> 
	</div>
</template>
<script>
  import FormComponentMixin from './../../mixin/form_component.js';
  
	export default {
    mixins: [FormComponentMixin],
	}
</script>