<template>
	<base-field
		:component="component"
    :errors="errors">
    <select
      :id="attributes.id"
      :name="attributes.name"
      :placeholder="attributes.label" 
      v-model="value">
    </select>	
	</base-field>
</template>
<script>
  import FieldMixin from './../../mixin/field.js';
  require('selectize');
  import Inputmask from 'inputmask'

	export default {
    mixins: [FieldMixin],
    data() {
      return {
        selectize: null,
      }
    },
    mounted() {
      var self = this
      var $select = $('#'+this.attributes.id).selectize({
        create: Boolean(this.attributes.create), 
        createFilter(input) { 
          var res = true
          if (self.create_filter) {
            var patt = new RegExp(self.create_filter);
            var res = patt.test(input);

          }
          return res 
        },
        maxItems: 1,
        valueField: this.attributes.value_field,
        labelField: this.attributes.label_field,
        searchField: [this.attributes.label_field],
        options: this.attributes.options,
        onChange: function(value) {
          self.value = value
        },
      });
      this.selectize = $select[0].selectize;
      this.selectize.setValue(this.resource[this.attributes.name]);
    },
    beforeDestroy() {
      this.selectize.destroy();
    }
	}
</script>