<template>
	<base-field
		:component="component"
    :errors="errors">
    <select
      :id="attributes.id"
      :name="attributes.name"
      :placeholder="attributes.label">
    </select>	
	</base-field>
</template>
<script>
  import FieldMixin from './../../mixin/field.js';
  require('selectize');
  import Inputmask from 'inputmask'

	export default {
    mixins: [FieldMixin],
    data() {
      return {
        selectize: null,
        items: [],
      }
    },
    watch: {
      items(files) {        
        if (items.length > 0) {
          this.fillFormData(items)
        }
      }
    },
    computed: {     
      name() {
        return this.attributes.name+'.'
      }
    },
    methods: {
      initValue() {
        return this.value = this.resource[this.attributes.name] || []
      },
      unsetFormData() {
        this.$emit('unset-form-data', {
          resource: this.name
        })
      },
      fillFormData(items) {
        this.unsetFormData()
        var self = this
        _.forEach(items, function(item) {
          self.$emit('fill-form-data', {
            name: self.name,
            value: item
          })
        })
      },
    },
    mounted() {
      this.unsetFormData()
      var self = this
      var $select = $('#'+this.attributes.id).selectize({
        create: Boolean(this.attributes.create),     
        persist: false,
        maxItems: null,
        valueField: this.attributes.value_field,
        labelField: this.attributes.label_field,
        searchField: [this.attributes.label_field],
        options: this.attributes.options,
        onChange: function(value) {
          self.value = value
        },
      });
      this.selectize = $select[0].selectize;
      this.selectize.setValue(this.attributes.default_value || this.value);
    },
    beforeDestroy() {
      this.selectize.destroy();
    }
	}
</script>