<template>	
	<button 
		:id="id"
		type="submit" 
		:class="cMyClass">
      <font-awesome-icon 
        v-if="pending"
        icon="spinner" spin />
       <slot v-else></slot>
			{{ lang.get(textKey) }}
	</button>
</template>
<script>
  import LocaleMixin from './../../mixin/locale.js';
  
	export default {
    mixins: [LocaleMixin],
		props: ['pending', 'textKey', 'id', 'myClass'],
		computed: {
			cMyClass() {
				return this.myClass || [
					'btn', 'btn-block', 'btn-primary', 'btn-lg',
				]
			}
		}
	}
</script>