<template>
	<base-field
		:component="component"
    :errors="errors">
  	<input 
  		:id="attributes.id"
  		:type="attributes.type" 
      :name="attributes.name"
  		:placeholder="attributes.label" 
      v-model="value"
  		class="form-control"
  		:class="attributes.input_class"> 	
	</base-field>
</template>
<script>
  import FieldMixin from './../../mixin/field.js';
  import Inputmask from 'inputmask'

	export default {
    mixins: [FieldMixin],  
    mounted() {
      if (this.attributes.mask) {
        var im = new Inputmask(this.attributes.mask);
        im.mask('#'+this.attributes.id);        
      }
    }
	}
</script>