<template>  
  <base-field
    :component="component"
    :resource="resource"
    :errors="errors">
    <textarea 
      :id="attributes.id"
      :name="attributes.name"
      v-model="value">
    </textarea>    
  </base-field>
</template>
<script>
  import FieldMixin from './../../mixin/field.js';

  export default {
    mixins: [FieldMixin],
    mounted: function() {
      var self = this

      CKEDITOR.replace(this.attributes.id, {
        contentsCss: [],
        allowedContent: true,
        height: 300,
        readOnly: self.readonly,          
        filebrowserBrowseUrl: '/panel/files/ck?type=Files',
      }).on('change', function(e) {
        var content = e.editor.getData()   
        self.value = content
      })
    },
    beforeDestroy: function() {     
      CKEDITOR.instances[this.attributes.id].destroy()
    },
  }
</script>