<template>
  <div 
    :class="attributes.col">  
    <div class="row">
      <div 
        class="col-md-4">  
        <div class="form-group">
          <select 
            v-model="toggleComponent"
            class="form-control">
            <option 
              v-for="(childComponent, index) in component.children"
              :value="childComponent.name">{{childComponent.attributes.name}}</option>
          </select>
        </div>
      </div>
      <component
        v-if="toggleComponent"
        :is="toggleComponent"
        :resource="resource"
        :component="component"
        :errors="errors"
        v-on:fill-form-data="$emit('fill-form-data', $event)"></component>   
    </div>
  </div>
</template>
<script>
  import FormComponentMixin from './../../mixin/form_component.js';

	export default {
    mixins: [FormComponentMixin],
    data() {
      return {
        toggleComponent: (this.component.children.length > 0 ? this.component.children[0]['name'] : null),
      }
    }
	}
</script>