<template>  
  <base-field
    :component="component"
    :resource="resource"
    :errors="errors">
    <vue-editor 
      v-model="value"
      class="w-100"></vue-editor>
  </base-field>
</template>
<script>
  import FieldMixin from './../../mixin/field.js';
  import { VueEditor } from "vue2-editor";

  export default {
    mixins: [FieldMixin],
    components: {VueEditor},
  }
</script>