<template>
	<header-card>		
    <ul class="nav nav-tabs card-header-tabs big-tabs">
      <li class="nav-item">
        <router-link
          :to="{name: 'login'}" 
          role="tab" 
          aria-controls="#nav-en" 
          aria-selected="true" class="nav-link">{{ lang.get('messages.login')  }}</router-link>
      </li>
      <li class="nav-item">
        <router-link
          :to="{name: 'register'}" 
          role="tab" 
          aria-controls="#nav-ru" 
          class="nav-link">{{ lang.get('messages.registration')  }}</router-link>
      </li>
    </ul>
	</header-card>
</template>
<script>
  import HeaderCard from './HeaderCard';
  import LocaleMixin from './../../../mixin/locale.js';
  
	export default {
    mixins: [LocaleMixin],
		components: {HeaderCard},
	}
</script>