<template>
	<header-card>		
    <h3 class="card-title text-light mb-0"><slot></slot></h3>
	</header-card>
</template>
<script>
  import HeaderCard from './HeaderCard';
  import LocaleMixin from './../../../mixin/locale.js';
  
	export default {
    mixins: [LocaleMixin],
		components: {HeaderCard},
	}
</script>