<template>
  <div class="card-header bg-dark">
    <slot></slot>
  </div>
</template>
<script>
  import LocaleMixin from './../../../mixin/locale.js';

	export default {
    mixins: [LocaleMixin],
	}
</script>