<template>	
	<div class="card shadow text-dark bg-white mt-5 mb-5">
		<slot name="header"></slot>
    <div class="card-body">
    <!--   <div 
        v-if="error"
        class="alert alert-danger p-1" 
        role="alert">
        {{ error }}
      </div>   -->  
      <my-form 
        :action="action"
        :resource="resource"
        :is-recaptcha="true"
        :submit-text-key="submitTextKey"
        v-on:form-submit="error = null"
        v-on:form-success="$emit('form-success', $event)"
        v-on:form-error="error = $event"
        fields-namespace="auth"
        :fields-view="fieldsView"
        :form-data-appends="formDataAppends">      
      </my-form>
    </div>
    <slot name="footer"></slot>
	</div>
</template>
<script>
	export default {
		props: [
      'action', 
      'submitTextKey', 
      'fieldsView', 
      'rootResource',
      'formDataAppends',
    ],
		data() {
			return {
				resource: this.rootResource || {},
				error: null,
			}
		}
	}
</script>