<template>
	<div 
    class="card shadow text-dark bg-white mb-5 mt-5">
	  <div class="card-header bg-dark">
      <h1 class="mb-0 text-light">{{ title }}</h1>  
    </div>
		<div class="card-body ">
      <button
        @click="$router.go(-1)"
        class="btn btn-primary btn-lg mb-3">
        <font-awesome-icon 
          icon="step-backward"/>
        {{ lang.get('messages.back') }}</button> 
      <my-form 
        :action="formAction"
        :resource="resource"
        :submit-text-key="submitTextKey"
        v-on:form-success="formSuccess"
        :fields-namespace="fieldsNamespace"
        :fields-view="fieldsView">  
        <template v-slot:submit-icon>
          <font-awesome-icon 
            icon="save"/>
        </template>
      </my-form>
    </div>
  </div>
</template>
<script>
  import MyForm from './../MyForm';
  import BaseField from './../fields/BaseField'
  import LocaleMixin from './../../mixin/locale.js';

	export default {
		props: [
      'title', 
      'formAction', 
      'resource', 
      'afterSubmitRoute', 
      'submitTextKey',
      'fieldsNamespace',
      'fieldsView',
    ],
    mixins: [LocaleMixin],	
    components: {MyForm},    
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
        if (this.afterSubmitRoute) {
          this.$router.push(this.afterSubmitRoute)
        }
      },
    },
	}
</script>