<template>
	<div>
    <div 
      v-if="items.length > 0"
      :class="{'table-responsive': false}">
      <table class="table mb-0">
        <thead>
          <tr>
            <th
              scope="col"
              class="text-center"
              style="width:70px"
            >
              <span class="d-inline">#</span>
            </th>
            <th 
              v-for="(thead, index) in table.cols"
              scope="col"
              :class="thead.class">
                <span class="d-inline">{{thead.label}}</span>
            </th>
            <th scope="col" class="button-col"></th>
          </tr>
        </thead>
        <tbody>        	
	        <tr 
	        	v-for="(item, index) in items"
	          is='row'
	          :key="index"
	          :item="item"
	          :table="table"></tr>
        </tbody>
      </table>
    </div>
	</div>
</template>
<script>
  import LocaleMixin from './../../mixin/locale.js';
  import Row from './Row'

	export default {
    mixins: [LocaleMixin],	
    components: {Row},
		props: ['items', 'table']
	}
</script>