<template>
  <tr>
    <td 
      class="align-middle text-center">{{ item.id }}</td>
    <td 
      v-for="(col, index) in table.cols"
      class="align-middle"
      :class="col.class">
    	<template v-if="!isEdit || !col.edit_component">{{ item[col.name] }}</template>
    	<template v-else>
	      <component
	        :is="col.edit_component"
	        :key="index"
	        :resource="item"
	        :col="col"
	        :errors="errors"
          v-on:save="save(item)"></component>  
    	</template>
    </td>
    <td 
      class="text-right align-middle pr-3" 
      style="width:120px"
      :style="{width: table.actions_width}">    
      <slot 
        name="actions" 
        :item="item"></slot>              
      <button
      	:key="uniqid()"
      	v-if="!isEdit"
      	@click="isEdit = true"
        class="btn btn-secondary"
        v-tooltip="lang.get('messages.edit')">
        <font-awesome-icon 
          icon="edit"/>
       </button>   
       <template
          v-if="isEdit">
        <button
          :disabled="pending"
          :key="uniqid()"
          class="btn btn-primary"
          v-tooltip="lang.get('messages.save')"
          @click="save(item)">
          <font-awesome-icon 
            v-if="pending"
            icon="spinner" spin />
          <font-awesome-icon 
            v-else
            icon="save"/>
         </button> 
        <button
          :disabled="pending"
          :key="uniqid()"
          class="btn btn-secondary"
          v-tooltip="lang.get('messages.cancel')"
          @click="cancel(cloneItem)">
          <font-awesome-icon 
            icon="step-backward"/>
         </button> 
         
       </template>             
      <destroy-button
        :id="item.id"
        :action="table.store.DESTROY"
      ></destroy-button>       
    </td>
  </tr>
</template>
<script>
  import LocaleMixin from './../../mixin/locale.js';
  import MiniTableTextField from './fields/TextField'
  import MiniTableDatepickerField from './fields/DatepickerField'
  import uniqid from 'uniqid'
  const RENEWAL = require('./../../store/types/lombard/agreement/renewal.js');
	import EventBus from './../../event-bus';

	export default {
    mixins: [LocaleMixin],	
    components: {MiniTableTextField, MiniTableDatepickerField},
		props: ['item', 'table'],		
		data() {
			return {
				isEdit: false,
				errors: {},
        pending: false,
        cloneItem: _.cloneDeep(this.item)
			}
		},
		computed: {
			uniqid() {
				return uniqid
			}
		},
		methods: {
			async save(item) {
        this.errors = {}
        this.pending = true
	      try {
					var msg = await this.$store.dispatch(RENEWAL.UPDATE, item)
          toastr.success(msg)
          this.isEdit = false
          this.cloneItem = _.cloneDeep(item)
	      } catch(error) {
	        if (error.hasOwnProperty('response')) {
	          var response = error.response
	          var data = response.data
	          if (response.status == 422) {
	            if (data.hasOwnProperty('errors')) {
	              this.errors = data.errors
	            }
	          } else {            
	            EventBus.$emit('error', error)
	          }
	        }
				}
        this.pending = false
			},
      cancel(cloneItem) {
        var self = this
        _.forEach(cloneItem, function(value, attr) {
          self.item[attr] = value
        })
        this.isEdit = false
      }
		}
	}
</script>