<template>
  <lombard-form-page
    :title="lang.get('messages.agreements')"
    :resource="agreement"
    :form-action="formAction"
    :submit-text-key="submitTextKey"
    :after-success-route="(isNew ? {name: 'agreements'} : null)"
    fields-namespace="lombards/agreements"
    :fields-view="fieldsView">    
  </lombard-form-page>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  import { 
    STORE, 
    UPDATE,
    EDIT, 
    SHOW,
    FIELDS,
    SET_ITEM
  } from './../../../../../store/types/lombard/agreement.js';
  import store from './../../../../../store/index'
  import BeforeEnter from './../../../../../before-enter'
  import EventBus from './../../../../../event-bus';

  export default {
    mixins: [LocaleMixin],    
    props: ['agreement_id'],
    computed: {
      agreement() {        
        return this.$store.getters[SHOW]
      },
      isNew() {
        return !this.agreement_id
      },
      formAction() {
        return (this.isNew ? 
          STORE : 
          UPDATE)
      },
      fieldsView() {
        return (this.isNew ? 
          'create' : 
          'edit')
      },
      submitTextKey() {
        return (this.isNew ? 
          'messages.create' : 
          'messages.update')        
      }
    },
    methods: {
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
    mounted() {
      EventBus.$on('pesel-selected', option => {
        this.agreement.first_name = option.first_name
        this.agreement.last_name = option.last_name
        this.agreement.email = option.email
        this.agreement.id_number_and_series = option.id_number_and_series
      })
    }
  }
</script>