<template>
  <lombard-card-page
    :title="lang.get('messages.agreements')">
    <router-link 
      :to="{ name: 'agreements-form', params: { lombard_id: lombard_id} }"
      class="btn btn-primary btn-lg  mb-3">
      <font-awesome-icon 
        icon="plus"/>
      {{ lang.get('messages.create') }}</router-link> 
    <my-table 
      :items="agreements" 
      route-name="agreements"
      :table="table"
      actions-width="250px">
        <template v-slot:actions="{item}">
          <a 
            target="_blank"
            :href="item.preview_url"
            class="btn btn-info" 
            v-tooltip="lang.get('messages.agreement_preview')">
            <font-awesome-icon 
              icon="external-link-alt"/>
          </a>
          <button 
            @click="openModal(item)"
            class="btn btn-light"
            v-tooltip="lang.get('messages.agreement_renewal')">
            <font-awesome-icon 
              icon="redo"/>
          </button>
        </template>
    </my-table>
    <renewal-modal
      v-if="isModalOpen"
      :agreement="renewalAgreement"      
      v-on:close="isModalOpen = false"></renewal-modal>
  </lombard-card-page>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  const AGREEMENT = require('./../../../../../store/types/lombard/agreement.js');
  const RENEWAL = require('./../../../../../store/types/lombard/agreement/renewal.js');
  import BeforeEnter from './../../../../../before-enter'
  import RenewalModal from './_components/RenewalModal'

  export default {
    mixins: [LocaleMixin],  
    components: {RenewalModal},
    props: ['lombard_id'],
    data() {
      return {
        isModalOpen: false,
      }
    },
    computed: {
      renewalAgreement() {
        return this.$store.getters[AGREEMENT.SHOW]
      },
      agreements() {        
        return this.$store.getters[AGREEMENT.INDEX]
      },
      table() {
        return {
          actions: {
            edit(item) {
              return {
                name: 'agreements-form', 
                params: { 
                  agreement_id: item.id ,
                }
              }
            },
            destroy: AGREEMENT.DESTROY,
          },
          cols: [
            {
              label: this.lang.get('messages.full_name'),
              attribute: 'full_name',
              sort_col: 'first_name',
              class: [],
            },
            {
              label: this.lang.get('messages.pesel'),
              attribute: 'pesel',
              class: ['text-center'],
            },
            {
              label: this.lang.get('messages.amount'),
              attribute: 'amount',
              class: ['text-center'],
            },
            {
              label: this.lang.get('messages.end_at'),
              attribute: 'end_at',
              class: ['text-center'],
            },
            {
              label: this.lang.get('messages.created_at'),
              attribute: 'created_at',
              class: ['text-center'],
            },
          ]
        }
      }
    },
    methods: {
      openModal(item) {
        this.$store.commit(AGREEMENT.SET_ITEM, item)
        this.isModalOpen = true
      }
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
    mounted() {
    }
  }
</script>