<template>
  <lombard-card-page
    :title="lang.get('messages.products')">
    <router-link 
      :to="{ 
        name: 'products-form', 
        params: { lombard_id: lombard_id },
        query: {test:'fsdfds'} 
      }"
      class="btn btn-primary btn-lg  mb-3">
      <font-awesome-icon 
        icon="plus"/>
      {{ lang.get('messages.create') }}</router-link> 
    <my-table 
      :items="products" 
      route-name="products"
      :table="table"
      actions-width="150px"></my-table>
  </lombard-card-page>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  import { INDEX, DESTROY } from './../../../../../store/types/lombard/product.js';
  import BeforeEnter from './../../../../../before-enter'

	export default {
    mixins: [LocaleMixin],	
    props: ['lombard_id'],
    watch: {
    },
    computed: {
	   	products() {        
        return this.$store.getters[INDEX]
	    },
      table() {
        return {
          actions: {
            edit(item) {
              return {
                name: 'products-form', 
                params: { 
                  product_id: item.id ,
                }
              }
            },
            destroy: DESTROY,
          },
          cols: [
            {
              label: this.lang.get('messages.name'),
              attribute: 'name',
              class: [],
            },
            {
              label: this.lang.get('messages.category_name'),
              attribute: 'category_name',
              class: [],
              sort_col: 'categories.name',
            },
            {
              label: this.lang.get('messages.market_price'),
              attribute: 'market_price',
              class: ['text-center'],
            },
            {
              label: this.lang.get('messages.purchase_price'),
              attribute: 'purchase_price',
              class: ['text-center'],
            },
            {
              label: this.lang.get('messages.selling_price'),
              attribute: 'selling_price',
              class: ['text-center'],
            },
            {
              label: this.lang.get('messages.created_at'),
              attribute: 'created_at',
              class: ['text-center'],
            },
          ]
        }
      }
	  },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
    mounted() {
    }
	}
</script>