
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway&display=swap');

@import "nestable.scss";
@import "loader.scss";
@import '~selectize/dist/css/selectize.css';
@import './components/selectize';
@import './components/datepicker';
@import './components/autocomplete';
@import './components/sidebar';
@import './components/breadcrumb';
@import './components/pagination';
@import './components/topnav';
@import './components/progress-bar';

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('./fonts/gilroy/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('./fonts/gilroy/Gilroy-Light.otf');
}

body {
    font-family: 'Gilroy Light', sans-serif; 
    background: #ffd54f;
}

html, 
body {
    height: 100%;
}

.gilroy-exbold {
  font-family: 'Gilroy ExtraBold';
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "~toastr/toastr.scss";

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.clear {
	clear: both;
}

.bg-gray {
  background: #dfe2e5!important;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.bg-dark .btn-link {
    font-weight: 400;
    color: #fff;
}

.bg-dark .btn-link:hover {
    color: #fff;
    text-decoration: underline;
}

.bg-dark a {
  color: #fff;
}

.nav-tabs .nav-link.danger {
  color: #dc3545;
}

.form-control.danger {
  background-color: #f8d7da;
}

.form-control.success {
  background-color: #d4edda;
}
.big-tabs a {
  font-size: 20px;
  font-weight: bold;
}

.btn-primary { 
  background-color: #4a148c;
  border-color: #4a148c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4a148c;
    border-color: #4a148c;
}

.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(99, 27, 186, 0.5);
    box-shadow: 0 0 0 0.2rem rga(99, 27, 186, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4a148c;
    border-color: #4a148c;
}

.bg-purple {
  background: #4a148c;
}

.bg-yellow-light {
  background: #4a148c;
}

.text-purple {
  color: #4a148c;
}

.alert-danger {
  color: #fff;
  background-color: #e53935;
  border-color: #e53935;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #4a148c;
    border: 2px solid #8e24aa ;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #7b1fa2 ;
}

.card.shadow {
  -webkit-box-shadow: 0px 2px 41px -9px rgba(0,0,0,1);
  -moz-box-shadow: 0px 2px 41px -9px rgba(0,0,0,1);
  box-shadow: 0px 2px 41px -9px rgba(0,0,0,1);
}

.center {
  display: block;
  margin: 0 auto;
}

.total-center {
  position:relative;
  top: 50%;
  left: calc(50% - 50px);
}

mh-100 {
  min-height: 100%;
}

.editor {
    position: relative;
    width: 100%;
    height: 400px;
}

.top-date-picker .vdp-datepicker__calendar {
  position: absolute;
  top: -282px;
}

.nav-link {
  font-size: 16px;
}