<template>
  <my-form 
    :action="formAction"
    :resource="user"
    :submit-text-key="lang.get('messages.update')"
    v-on:form-success="formSuccess"
    fields-namespace="profile/personalData">  
    <template v-slot:submit-icon>
      <font-awesome-icon 
        icon="save"/>
    </template>
  </my-form>
</template>
<script>  
  import LocaleMixin from './../../../../mixin/locale.js';
  import {
    SHOW, UPDATE
  } from './../../../../store/types/profile/personal_data.js'
  import BeforeEnter from './../../../../before-enter'
  const AUTH = require('./../../../../store/types/auth')

  export default {
    name: 'profile-personal-data',
    mixins: [LocaleMixin],
    computed: {
      user() {
        return this.$store.getters[SHOW] 
      },
      formAction() {
        return UPDATE
      }
    },
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
        this.$store.dispatch(AUTH.CHECK_AUTH)
      }
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
  }
</script>