<template>
	<div class="row">
		<div class="col-md-12">
      <lombard-form-page
        :title="lang.get('messages.agreements_patterns')"
        :resource="agreementPattern"
        :form-action="formAction"
        :submit-text-key="submitTextKey"
        :after-success-route="(isNew ? {name: 'agreements-patterns'} : null)"
        fields-namespace="lombards/agreementsPatterns"
        :fields-view="fieldsView">         
      </lombard-form-page>
	  </div>
  </div>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  import { 
    STORE, 
    UPDATE,
    EDIT, 
    SHOW,
    FIELDS,
    SET_ITEM
  } from './../../../../../store/types/lombard/agreement_pattern.js';
  import store from './../../../../../store/index'
  import BeforeEnter from './../../../../../before-enter'

	export default {
    mixins: [LocaleMixin],		
    computed: {
	   	agreementPattern() {        
	      return this.$store.getters[SHOW]
	    },
      isNew() {
        return !this.$route.params.agreement_pattern_id
      },
      formAction() {
        return (this.isNew ? 
          STORE : 
          UPDATE)
      },
      fieldsView() {
        return (this.isNew ? 
          'create' : 
          'edit')
      },
      submitTextKey() {
        return (this.isNew ? 
          'messages.create' : 
          'messages.update')        
      }
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
	}
</script>