<template>
  <lombard-card-page
    :title="lang.get('messages.agreements_patterns')">
    <router-link 
      :to="{ name: 'agreements-patterns-form', params: { lombard_id: $route.params.lombard_id} }"
      class="btn btn-primary btn-lg">
      <font-awesome-icon 
        icon="plus"/>
      {{ lang.get('messages.create') }}</router-link> 
    <div class="row mt-3">
      <card-index 
      	v-for="(agreementPattern, index) in agreementsPatterns"
      	:key="agreementPattern.id"
      	:agreement-pattern="agreementPattern"></card-index>
    </div> 
  </lombard-card-page>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  import store from './../../../../../store/index'
  import { INDEX } from './../../../../../store/types/lombard/agreement_pattern.js';
  import CardIndex from './_components/CardIndex'
  import BeforeEnter from './../../../../../before-enter'

	export default {
    mixins: [LocaleMixin],	
    components: {CardIndex},	
    computed: {
	   	agreementsPatterns() {        
	      return this.$store.getters[INDEX]
	    },
	  },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
  }
</script>