<template>
  <div>
    <router-view></router-view>    
<!--<div id="loader-wrapper">
      <div id="loader"></div>
    </div> -->
    <portal-target name="destination"></portal-target>
  </div>
</template>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>

<script>  
  export default {
    components: {},
    computed: {
    },
    methods: {
    },
    mounted() {
    }
  }
</script>
