<template>
  <my-form 
    :action="formAction"
    :resource="{}"
    :submit-text-key="lang.get('messages.update')"
    v-on:form-success="formSuccess"
    fields-namespace="profile/password">  
    <template v-slot:submit-icon>
      <font-awesome-icon 
        icon="save"/>
    </template>
  </my-form>
</template>
<script>  
  import LocaleMixin from './../../../../mixin/locale.js';
  import {
    SHOW, UPDATE
  } from './../../../../store/types/profile/password.js'
  import BeforeEnter from './../../../../before-enter'
  const AUTH = require('./../../../../store/types/auth')

  export default {
    name: 'profile-personal-data',
    mixins: [LocaleMixin],
    computed: {
      formAction() {
        return UPDATE
      }
    },
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
      }
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
  }
</script>