<template>
  <lombard-card-page
    :title="lang.get('messages.categories')">
    <router-link 
      :to="{ name: 'categories-form', params: { lombard_id: $route.params.lombard_id} }"
      class="btn btn-primary btn-lg mb-3">
      <font-awesome-icon 
        icon="plus"/>
      {{ lang.get('messages.create') }}</router-link> 
		<div class="card">
		  <div class="card-header">
		    <ul class="nav nav-tabs card-header-tabs">
		      <li class="nav-item">
		      	<router-link 
		      		class="nav-link"
		      		:to="{name: 'categories-table'}">{{lang.get('messages.table')}}</router-link>
		      </li>
		      <li class="nav-item">
		      	<router-link 
		      		class="nav-link"
		      		:to="{name: 'categories'}">{{lang.get('messages.tree')}}</router-link>
		      </li>
		    </ul>
		  </div>
			<div class="card-body">
				<router-view></router-view>
			</div>
		</div>
	</lombard-card-page>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
	export default {
    mixins: [LocaleMixin],			
	}
</script>