<template>
  <lombard-form-page
    :title="lang.get('messages.categories')"
    :resource="category"
    :form-action="formAction"
    :submit-text-key="submitTextKey"
    :after-success-route="{name: 'categories'}"
    fields-namespace="lombards/categories"
    :fields-view="fieldsView">    
  </lombard-form-page>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  import { 
    STORE, 
    UPDATE,
    EDIT, 
    SHOW,
    FIELDS,
    SET_ITEM
  } from './../../../../../store/types/lombard/category.js';
  import store from './../../../../../store/index'
  import BeforeEnter from './../../../../../before-enter'

  export default {
    mixins: [LocaleMixin],    
    props: ['category_id'],
    computed: {
      category() {        
        return this.$store.getters[SHOW]
      },
      isNew() {
        return !this.category_id
      },
      formAction() {
        return (this.isNew ? 
          STORE : 
          UPDATE)
      },
      fieldsView() {
        return (this.isNew ? 
          'create' : 
          'edit')
      },
      submitTextKey() {
        return (this.isNew ? 
          'messages.create' : 
          'messages.update')        
      }
    },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
  }
</script>