<template>
  <div>
    <my-table 
      :items="categories" 
      route-name="categories-table"
      :table="table"></my-table>
  </div>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  import { INDEX, DESTROY } from './../../../../../store/types/lombard/category.js';
  import BeforeEnter from './../../../../../before-enter'

	export default {
    mixins: [LocaleMixin],	
    computed: {
	   	categories() {       
	      return this.$store.getters[INDEX]
	    },
      table() {
        return {
          actions: {
            edit(item) {
              return {
                name: 'categories-form', 
                params: { 
                  category_id: item.id ,
                }
              }
            },
            destroy: DESTROY,
          },
          cols: [
            {
              label: this.lang.get('messages.name'),
              attribute: 'name',
              class: [],
            },
          ]
        }
      }
	  },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
	}
</script>