<template> 
  <div class="dd">
    <ol class="dd-list">
    	<nestable-item
    		v-for="(category, key, index) in categories"
    		:key="index"
    		:item="category"
        :index="index"></nestable-item>
    </ol>
  </div>
</template>
<script>
  import LocaleMixin from './../../../../../mixin/locale.js';
  import { TREE, UPDATE_NESTABLE } from './../../../../../store/types/lombard/category.js';
  import store from './../../../../../store/index'
  import NestableItem from './_components/NestableItem'
  import BeforeEnter from './../../../../../before-enter'
  window.jQuery = require('jquery');
  window.$ = window.jQuery;
  require('./_components/nestable')

	export default {
    mixins: [LocaleMixin],	
    components: {NestableItem},
    computed: {
	   	categories() {        
	      return this.$store.getters[TREE]
	    },
	  },
    beforeRouteEnter: BeforeEnter,
    beforeRouteUpdate: BeforeEnter,
    mounted() {
      var self = this
      $('.dd').nestable({
        maxDepth: 10,
        async dropCallback(details) {
          if (details.newIndex != details.oldIndex || 
            details.oldParentId != details.newParentId) {

            var data =  {
              id: details.itemId,
              parent_id: details.newParentId,
              order: details.newIndex,
            }

            try {
              var msg = await self.$store.dispatch(
                UPDATE_NESTABLE, 
                data
              )

              toastr.success(msg) 
            } catch (error) {
              console.log(error)
            }
          }
        }
      })

      $('.dd').nestable('collapseAll')
    }
	}
</script>