<template>	 
  <div 
    class="form-group mb-0">    
    <slot></slot>        
    <mini-table-error-message
      :attribute="col.name"
      :errors="errors"></mini-table-error-message>
  </div>
</template>
<script>
  import MiniTableErrorMessage from './ErrorMessage'

	export default {
    props: ['col', 'errors'],
    components: {MiniTableErrorMessage},
	}
</script>