<template>
	<mini-table-base-field
		:col="col"
    :errors="errors">
    <datepicker 
      :id="id"
      type="text" 
      :name="col.name"
      :placeholder="col.label" 
      v-model="value"
      input-class="form-control text-center"
      :format="customFormatter"
      :language="datepickerLang[lang.getLocale()]"></datepicker>  
	</mini-table-base-field>
</template>
<script>
  import Inputmask from 'inputmask'
  import MiniTableBaseField from './BaseField'
  import uniqid from 'uniqid'
  import Datepicker from 'vuejs-datepicker';
  import moment from 'moment'
  import {en, pl} from 'vuejs-datepicker/dist/locale'
  import LocaleMixin from './../../../mixin/locale.js';

	export default {
    mixins: [LocaleMixin],  
    components: {MiniTableBaseField, Datepicker},
    props: ['col', 'resource', 'errors'],
    computed: {
      id() {
        return uniqid()
      }
    },
    data() {
      return {
        value: this.resource[this.col.name], 
        datepickerLang: {
          en: en,
          pl: pl,
        }       
      }
    },
    watch: {
      value(date) {
        this.resource[this.col.name] = this.customFormatter(date)
      }
    },
    methods: {
      customFormatter(date) {
        return moment(date).format(this.col.format || 'YYYY-MM-DD');
      },
    },
    mounted() {
      if (this.col.mask) {
        var im = new Inputmask(this.col.mask);
        im.mask('#'+this.id);        
      }
    }
	}
</script>