<template>
	<mini-table-base-field
		:col="col"
    :errors="errors">
  	<input 
      v-on:keyup.enter="$emit('save')"
  		:id="id"
  		type="text" 
      :name="col.name"
  		:placeholder="col.label" 
      v-model="resource[col.name]"
  		class="form-control"
  		:class="col.class"> 	
	</mini-table-base-field>
</template>
<script>
  import Inputmask from 'inputmask'
  import MiniTableBaseField from './BaseField'
  import uniqid from 'uniqid'

	export default {
    components: {MiniTableBaseField},
    props: ['col', 'resource', 'errors'],
    computed: {
      id() {
        return uniqid()
      }
    },
    mounted() {
      if (this.col.mask) {
        var im = new Inputmask(this.col.mask);
        im.mask('#'+this.id);        
      }
    }
	}
</script>