<template>
  <portal 
    to="destination">
    <modal
      custom-class="modal-lg"
      :title="lang.get('messages.agreement_renewal')"
      v-on:close="$emit('close')">
      <template slot="body">      
        <div class="modal-body">
          <my-form 
            :action="formAction"
            :resource="{}"
            :submit-text-key="lang.get('messages.create')"
            :submit-class="['btn', 'btn-primary', 'float-right', 'clear']"
            fields-namespace="lombards/agreements/renewals"
            v-on:form-success="formSuccess">  
            <template v-slot:submit-icon>
              <font-awesome-icon 
                icon="save"/>
            </template>
          </my-form>
        </div>
        <mini-table
          :items="renewals"
          :table="table"></mini-table>
        </my-table>
      </template>    
    </modal>
  </portal>
</template>
<script>
  const RENEWAL = require('./../../../../../../store/types/lombard/agreement/renewal.js');
  import LocaleMixin from './../../../../../../mixin/locale.js';

	export default {
		props: ['agreement'],
    mixins: [LocaleMixin],  
		computed: {			
      table() {
        return {
          store: RENEWAL,
          actions_width: '200px',
          cols: [          
            {
              label: this.lang.get('messages.amount'),
              name: 'amount',
              class: ['text-center'],
              edit_component: 'mini-table-text-field',
            },
            {
              label: this.lang.get('messages.end_at'),
              name: 'end_at',
              class: ['text-center'],
              edit_component: 'mini-table-datepicker-field',
            },
            {
              label: this.lang.get('messages.created_at'),
              name: 'created_at',
              class: ['text-center'],
            },
          ]
        }
      },
      renewals() {        
        return this.$store.getters[RENEWAL.INDEX]
      },
      formAction() {
        return RENEWAL.STORE
      }
		},
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
        this.$store.dispatch(RENEWAL.INDEX)
      },
    },
    mounted() {      
      this.$store.dispatch(RENEWAL.INDEX)
    }
	}
</script>