<template>
	<div 
		class="card mt-3 container-fluid">
		<div class="row">
			<div class="col-md-11 card-body">
			  <template
			    v-for="(childComponent, index) in  component.children"> 
			    <component
			      :is="childComponent.name"
			      :key="index"
			      :resource="resource"
			      :component="childComponent"
			      v-on:fill-form-data="fillFormData($event, resource)"
	     			v-on:unset-form-data="unsetFormData($event, resource)"
			      :errors="(errors && errors.hasOwnProperty(attributes.nested_resource) ? 
			      	errors[attributes.nested_resource][resource._id] : {})">
			    </component>        
			  </template> 
			</div>
			<div class="col-md-1 card-body d-flex align-items-center justify-content-center bg-light">
				<button 
					type="button"
					class="btn btn-danger btn-sm"
					@click="destroy(resource)"
          v-tooltip="lang.get('messages.delete')">
		      <font-awesome-icon 
		        icon="trash-alt"/>										
				</button>
			</div>
		</div>
	</div>
</template>
<script>
  import FormComponentMixin from './../../../mixin/form_component.js';

	export default {
    mixins: [FormComponentMixin],
    props: ['index'],
    watch: {
    	'resource.order': function(order) {
	    	this.fillFormData({
	    		name: 'order',
	    		value: order
	    	}, this.resource)
    	}
    },
    methods: {    
    	destroy() { 	
    		this.$emit('destroy')
    	},
      fillFormData(payload, item) {

      	var name = this.attributes.nested_resource
      	name += '.'+item._id+'.'
      	name += payload.name

      	this.$emit('fill-form-data', {
      		name: name,
      		value: payload.value
      	})
      },
      unsetFormData(payload, item) {

      	var resource = this.attributes.nested_resource
      	resource += '.'+item._id
      	resource += '.'+payload.resource

      	this.$emit('unset-form-data', {
      		resource: resource,
      	})
      },
    },
    mounted() {
    	this.fillFormData({
    		name: 'order',
    		value: this.resource.order
    	}, this.resource)

    	if (this.resource.id) {
	    	this.fillFormData({
	    		name: 'id',
	    		value: this.resource.id
	    	}, this.resource)    		
    	}
    }
	}
</script>