<template>
  <div 
    :class="attributes.col">      
		<div class="card mb-3">
		  <div class="card-header bg-dark">
				<h5 class="mb-0 text-light">{{attributes.label}}</h5>
	    </div>
			<div class="card-body">
	      <error-message
	        :attribute="attributes.error_key || attributes.nested_resource"
	        :errors="errors"></error-message>
				<button 
					type="button"
					class="btn btn-primary"
					@click="addItem()"
					v-tooltip="lang.get('messages.add')">
		      <font-awesome-icon 
		        icon="plus"/>				
				</button>
				<nested-item					
					v-for="(item, index) in nestedResource"
		      :key="item._id"
		      :resource="item"
		      :index="index"
					:component="component"
					:errors="errors"
	      	v-on:fill-form-data="$emit('fill-form-data', $event)"
	     		v-on:unset-form-data="$emit('unset-form-data', $event)"
	      	v-on:destroy="destroy(item, index)"></nested-item>
			</div>
		</div>
	</div>
</template>
<script>
  import FormComponentMixin from './../../../mixin/form_component.js';
  import uniqid from 'uniqid'
  import NestedItem from './ItemComponent'

	export default {
    mixins: [FormComponentMixin],
    components: {NestedItem},
		data() {
    	var nestedResource = _.map(
    		this.resource[this.component.attributes.nested_resource], 
    		function(item, index) {
    		return {
    			...item,
    			order: parseInt(item.order || index),
    			_id: uniqid()
    		}
    	})

    	nestedResource = _.sortBy(nestedResource, ['order'])

			return {
				nestedResource: nestedResource || [],
			}
		},
		watch: {
			nestedResource(nestedResource) {
				var self = this
				_.forEach(nestedResource, function(item, index) {
					item.order = index
					self.nestedResource[index] = item
				})
			}
		},
    methods: {    	
      addItem() {
        this.nestedResource.unshift({
          _id: uniqid(),
          order: 0,
        })
      },
      destroy(item, index) {
      	var _id = item._id
      	
      	delete item._id

      	for (var attribute in item) {
	      	this.$emit('unset-form-data', {
	      		resource: this.attributes.nested_resource+'.'+_id+'.'+attribute
	      	})
      	}

      	this.nestedResource.splice(index, 1)
      }
    },
    mounted() {
    }
	}
</script>