<template>
  <div 
  	class="col-md-12 col-lg-6">
  	<div class="card shadow mb-3">
		  <div class="card-body">
		    <h5 class="card-title">{{ agreementPattern.name }}</h5>
		  </div>
		  <div class="card-footer text-right">  
<!--         <a
          :href="agreementPattern.preview_url"
          target="_blank"
          class="btn btn-dark">
          <font-awesome-icon 
            icon="external-link-alt"/> {{ lang.get('messages.show') }}</a>     -->	
		  	<router-link
		  		:to="toEdit"
		  		class="btn btn-dark">
          <font-awesome-icon 
            icon="edit"/> {{ lang.get('messages.edit') }}</router-link>		
        <destroy-button
          :id="agreementPattern.id"
          :action="destroyAction">
          {{ lang.get('messages.delete') }}
        </destroy-button>				  	
		  </div>
		</div>
	</div>
</template>
<script>
  import LocaleMixin from './../../../../../../mixin/locale.js';
  import { DESTROY } from './../../../../../../store/types/lombard/agreement_pattern.js';

	export default {
    mixins: [LocaleMixin],	
    props: ['agreementPattern'],
    computed: {
      toEdit() {
        return {
          name:'agreements-patterns-form', 
          params: { 
            lombard_id: this.$route.params.lombard_id,
            agreement_pattern_id: this.agreementPattern.id
          }
        }
      },
      lombard() {        
        return this.$store.getters['lombards/show']
      },
      destroyAction() {
        return DESTROY
      },
    },	
    methods: { 
    }
  }
</script>