<template>
  <div 
  	:class="[lombardWidth]">
  	<div class="card shadow mb-3">
		  <div class="card-body">
		    <h5 class="card-title">{{ lombard.name }}</h5>
		    <p class="card-text">{{ lombard.address }}</p>
		  </div>
		  <div class="card-footer text-right">  
        <router-link
          :to="{name:'products', params: { lombard_id: lombard.id}}"
          class="btn btn-dark">
          <font-awesome-icon 
            icon="link"/> {{ lang.get('messages.select') }}</router-link>    	
		  	<router-link
		  		:to="{name:'lombards-edit', params: { lombard_id: lombard.id}}"
		  		class="btn btn-dark">
          <font-awesome-icon 
            icon="edit"/> {{ lang.get('messages.edit') }}</router-link>		
        <destroy-button
          :id="lombard.id"
          :action="destroyAction"
          >{{ lang.get('messages.delete') }}</destroy-button>    					  	
		  </div>
		</div>
	</div>
</template>
<script>
  import LocaleMixin from './../../../../mixin/locale.js';
  import { DESTROY } from './../../../../store/types/lombard.js';
	
  export default {
    mixins: [LocaleMixin],	
    props: ['lombard', 'lombardWidth'],
    data() {
    	return {
    		pending: false,
    	}
    },		
    computed: {          
      destroyAction() {
        return DESTROY
      },
    }
  }
</script>