<template>	
	<nav class="col-md-3 col-lg-2 d-none d-md-block bg-dark py-3 px-0 sidebar d-sm-none">
    <ul class="nav flex-column text-dark">
      <li class="nav-item">
        <li 
          v-for="(item, index) in items"
          class="nav-item">
          <router-link
            :to="{name: item.route}"
            class="nav-link">
            <font-awesome-icon 
              :icon="item.icon"
              class="nav-icon"/>
            <span>{{ item.label }}</span>
          </router-link>
        </li>
      </li>
    </ul>
  </nav>
</template>
<script>
  import LocaleMixin from './../../../../mixin/locale.js';
	export default {
    mixins: [LocaleMixin],		
    computed: {
      items() {
        return [
          {
            label: this.lang.get('messages.agreements_patterns'),
            route: 'agreements-patterns',
            icon: 'file-alt',
          },
          {
            label: this.lang.get('messages.agreements'),
            route: 'agreements',
            icon: 'handshake',
          },
          {
            label: this.lang.get('messages.categories'),
            route: 'categories-table',
            icon: 'bars',
          },
          {
            label: this.lang.get('messages.products'),
            route: 'products',
            icon: 'warehouse',
          },
        ]
      }
    }	
	}
</script>