<template>
  <div class="">
    <top-nav></top-nav>
    <template
      v-if="user">
      <router-view></router-view>
    </template>
  </div>
</template>
<script>  
  import TopNav from './_components/TopNav'

  export default {
    components: {TopNav},
    computed: {
      user() {
        return this.$store.getters['auth/currentUser'] 
      },
    },
    mounted() {
    }
  }
</script>