<template>
  <div>
    <nav 
      class="navbar navbar-expand-lg navbar-dark bg-purple">
      <router-link 
        :to="{name: 'home'}"
        class="navbar-brand">{{ appName }}</router-link>
      <div 
        class="collapse navbar-collapse" 
        id="navbarNavAltMarkup">
        <div 
          class="navbar-nav ml-auto">
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>
<script>  
  export default {
    components: {},
    computed: {
      appName() {
        return this.$store.getters['appName'] 
      }
    },
    methods: {
    },
    mounted() {
      $('#loader-wrapper').addClass('hidden')
    }
  }
</script>