<template>
    <div 
      class="card shadow text-dark bg-white mt-5 mb-5">
      <div class="card-body"> 
        <div 
          v-if="pending"
          class="p-5">
          <font-awesome-icon 
            class="center"
            icon="spinner" spin  
            size="5x"/>
        </div>
        <div 
          v-if="error"
          class="alert alert-danger mb-0" role="alert">
          <h4 class="alert-heading">{{ lang.get('messages.error') }}</h4>
          <p>{{ error }}.</p>
        </div>
        <div 
          v-if="message"
          class="alert alert-success mb-0" role="alert">
          <h4 class="alert-heading">{{ lang.get('auth.confirmed_success') }}</h4>
          <p>{{ messageWithSeconds }}</p>
        </div>
      </div>
      <div class="card-footer">
        <router-link 
          :to="{ name: 'login', params: { locale: $route.params.locale }}" 
          class="btn btn-primary btn-lg float-right">
          <font-awesome-icon 
            icon="step-backward"/>{{ lang.get('messages.back') }}</router-link>
      </div>
    </div>
</template>
<script>
  import { CONFIRM } from './../../store/types'
  import LocaleMixin from './../../mixin/locale.js';

  export default {
    name: 'confirmation',
    mixins: [LocaleMixin],
    data: function() {
    	return {
    		message: null,
        pending: true,
        seconds: 3,
        error: null,
    	}
    },
    computed: {
      messageWithSeconds() {
        return this.message.replace(":seconds", this.seconds);
      }
    },
    async mounted() {
    	var code = this.$route.params.code
      var self = this

      try {
        var msg = await this.$store
          .dispatch('auth/' + CONFIRM, code)
        this.seconds = 3
        this.message = msg
        this.pending = false
        
        setTimeout(function() { 
          self.$router.push({name: 'panel'})
        }, 3000);
        setInterval(function() { 
          self.seconds -= 1
        }, 1000);

        toastr.success(msg.capitalize()) 
      } catch(error) {
        var response = error.response
        this.error = response.data.error
      }

      this.pending = false
    }
	}
</script>