<template>
  <auth-card
    :action="formAction"
    submit-text-key="messages.login"
    v-on:form-success="formSuccess"
    fields-view="login">
    <template v-slot:header>
      <header-nav></header-nav>
    </template>
    <template v-slot:footer>
      <div class="card-footer">
        <router-link 
          :to="{ name: 'password-forgot' }" 
          class="btn btn-link float-right text-dark"
          role="button">{{ lang.get('messages.forgot_password') }}?</router-link>
        <router-link 
          :to="{ name: 'password-expired' }" 
          class="btn btn-link float-right text-dark"
          role="button">{{ lang.get('messages.expired_password') }}?</router-link>
      </div>
    </template>
  </auth-card>
</template>
<script>	
  import HeaderNav from './_components/HeaderNav';
  import LocaleMixin from './../../mixin/locale.js';
  import {
    LOGIN
  } from './../../store/types/auth.js'

  export default {
    name: 'login',
    mixins: [LocaleMixin],
    components: {
      HeaderNav,
    },
    computed: {
      formAction() {
        return LOGIN
      },
    },
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
        this.$router.push({name: 'panel'})
      }
    },
	}
</script>