<template>
  <auth-card
    :action="formAction"
    submit-text-key="messages.send"
    v-on:form-success="formSuccess"
    fields-view="forgot_password">
    <template v-slot:header>
      <header-title>{{ lang.get('messages.password_forgot_title') }}</header-title>
    </template>
    <template v-slot:footer>
      <div class="card-footer">
        <router-link 
          :to="{ name: 'login'}" 
          class="btn btn-link float-right text-dark"
          role="button">
          <font-awesome-icon 
            icon="step-backward"/>{{ lang.get('messages.back') }}
        </router-link>
      </div>
      </template>
  </auth-card>
</template>
<script>	
  import LocaleMixin from './../../mixin/locale.js';
  import { SEND_RESET_LINK } from './../../store/types/auth'
  import HeaderTitle from './_components/HeaderTitle';

  export default {
    name: 'login',
    mixins: [LocaleMixin],
    components: {HeaderTitle},
    computed: {
      formAction() {
        return SEND_RESET_LINK
      }, 
    },
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
      },
    },
	}
</script>