<template>
  <auth-card
    :action="formAction"
    submit-text-key="messages.reset"
    v-on:form-success="formSuccess"
    fields-view="reset_password"
    :root-resource="resource"
    :form-data-appends="[
      {
        attribute: 'token',
        value: $route.params.token
      }
    ]">
    <template v-slot:header>
      <header-title>{{ lang.get('messages.reset_password') }}</header-title>
    </template>
    <template v-slot:footer>
      <div class="card-footer">
        <router-link 
          :to="{ name: 'login' }" 
          class="btn btn-link float-right text-dark"
          role="button">{{ lang.get('messages.login')}}</router-link>
      </div>
      </template>
  </auth-card>
</template>
<script>  
  import LocaleMixin from './../../mixin/locale.js';
  import { RESET_EXPIRED_PASSWORD } from './../../store/types/auth'
  import HeaderTitle from './_components/HeaderTitle';

  export default {
    name: 'login',
    mixins: [LocaleMixin],
    components: {HeaderTitle},
    data: function() {
      return {
        resource: {
          token: this.$route.params.token
        },
        error: null,
      }
    },
    computed: {
      formAction() {
        return RESET_EXPIRED_PASSWORD
      }
    },
    methods: {
      formSuccess(msg) {
        toastr.success(msg) 
        this.$router.push({name: 'panel'})
      },
    },
  }
</script>