<template>
  <auth-card
    :action="formAction"
    submit-text-key="messages.register"
    v-on:form-success="formSuccess"
    fields-view="register">
    <template v-slot:header>
      <header-nav></header-nav>
    </template>
  </auth-card>
</template>
<script>	
  import LocaleMixin from './../../mixin/locale.js';
  import HeaderNav from './_components/HeaderNav';
  import {
    REGISTER, IS_AUTHENTICATED
  } from './../../store/types/auth.js'
  import Swal from 'sweetalert2'

  export default {
    name: 'login',
    mixins: [LocaleMixin],
    components: {
      HeaderNav,
    },
    computed: {
      formAction() {
        return REGISTER
      },
    },
    methods: {
      formSuccess(msg) {
        Swal.fire({
          title: this.lang.get('actions.register_success_title'),
          text: this.lang.get('actions.register_success_text'),
          type: 'success',
        })
        if (!this.$store.getters[IS_AUTHENTICATED]) {
          this.$router.push({name: 'lombards'})
        }
      },
    },
    mounted() {
    }
	}
</script>