<template>
	<div class="col-md-8 offset-md-2 col-sm-12 mt-5">
    <div class="jumbotron bg-white text-center">
      <h1 class="display-4">Forbidden</h1>
    </div>
  </div>
</template>
<script>
  import { mapState } from 'vuex'
	export default {
		computed: {			
      ...mapState({
        lang: state => state.lang,
      })
		},
    mounted() {
      
      $('#loader-wrapper').addClass('hidden')
    }
	}
</script>